/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}


/* HERO */
.hero {
  width: 100%;
  height: 680px;
  margin-top: 90px;
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 160px;
  left: 80px;
  color: white;
}

.hero-text h1 {
  font-family: "Righteous", sans-serif;
  font-size: 75px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}
.hero {
  margin-top: 120px;
}

/* SECTION 1 */
.info-section {
  padding: 80px 60px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.info-img img {
  width: 450px;
  border-radius: 20px;
}

.info-text h2 {
  font-family: "Jockey One", sans-serif;
  font-size: 40px;
  color: #39796e;
  margin-bottom: 15px;
}

.info-text p {
  font-size: 20px;
  line-height: 1.7;
}

/* SECTION 2 */
.card-section {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.card {
  width: 80%;
  background: #d4e7dd;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.card img {
  width: 450px;
  border-radius: 20px;
}

.card-text h2 {
  font-family: "Jockey One", sans-serif;
  font-size: 36px;
  color: #39796e;
  margin-bottom: 10px;
}

.btn {
  padding: 12px 24px;
  border: none;
  background: #39796e;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.9;
}

/* SECTION 3 */
.location-section {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.location-card {
  width: 80%;
  background: #d4e7dd;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.location-card img {
  width: 450px;
  border-radius: 20px;
}

.location-text h2 {
  font-family: "Jockey One", sans-serif;
  font-size: 36px;
  color: #39796e;
  margin-bottom: 10px;
}

.location-text p {
  font-size: 18px;
  line-height: 1.7;
}


/* =============================================
        RESPONSIVE UNTUK SEMUA KONTEN
============================================= */

@media (max-width: 900px) {
  .hero h1 {
    font-size: 48px;
  }

  .info-section,
  .card,
  .location-card {
    flex-direction: column;
    text-align: center;
  }

  .info-img img,
  .card img,
  .location-card img {
    width: 100%;
    max-width: 500px;
  }

  .info-section,
  .card-section,
  .location-section {
    padding: 40px 20px;
  }

  .info-text,
  .card-text,
  .location-text {
    padding: 0 10px;
  }

  footer {
    flex-direction: column;
    gap: 30px;
  }
}
