/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Righteous", sans-serif;
  background-color: #f8f8f8;
  padding-top: calc(90px + env(safe-area-inset-top));
}

@media (max-width: 768px) {
  body {
    padding-top: calc(70px + env(safe-area-inset-top));
  }
}

/* ==========================
       HERO SECTION
========================== */

.hero-section {
  padding: 80px 0;
  background: linear-gradient(#157865, #2aa67e);
  color: white;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.mini-gallery {
  display: flex;
  gap: 15px;
}

.mini-gallery img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 12px;
}

/* ==========================
          BUBBLE
========================== */

.product-bubble {
  width: 260px;
  height: 260px;
  background: #eef1ee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-text {
  color: #1c3c2f;
  text-align: center;
  font-weight: 800;
}

/* ==========================
        PRODUCT GRID
========================== */

.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.arrow-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #d7f0e6;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: black;
}

.product-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

/* ======== MOBILE FIX (max 768px) ======== */
@media (max-width: 768px) {

  .hero-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }

  .hero-title {
    font-size: 32px;
  }

  .mini-gallery {
    justify-content: center;
    gap: 10px;
  }

  .mini-gallery img {
    width: 100px;
    height: 100px;
  }

  .product-bubble {
    width: 180px;
    height: 180px;
  }

  .bubble-text {
    font-size: 18px;
  }
}
