* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.learning-page {
    font-family: "Sen", sans-serif;
    background-color: #fff;
}

.navbar {
    width: 100%;
    height: 90px;
    background: #39796e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo {
    height: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 30px;
    font-family: "Jockey One";
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 650px;
    margin-top: 90px;
}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgba(57,121,110,0.8));
}

.hero-title {
    position: absolute;
    bottom: 180px;
    left: 40px;
    font-size: 80px;
    font-family: "Righteous";
    color: #b4ceda;
}

.hero-subtitle {
    position: absolute;
    bottom: 100px;
    left: 40px;
    font-size: 60px;
    color: #4b7c68;
    font-family: "Righteous";
}

/* KONTEN */
.learning-content {
    background: #458277 url("motif-daun.png") repeat;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.content-item {
    display: flex;
    gap: 40px;
    background: #5d8d7b;
    padding: 40px;
    box-shadow: 0 4px 6px #0004;
}

.content-item img {
    width: 420px;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 6px #0003;
}

.content-text h3 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.content-text p {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}

/* FOOTER */
.footer {
    background-color: #39796e;
    padding: 50px 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo {
    width: 160px;
    margin-bottom: 20px;
}

.footer-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    gap: 18px;
}

.footer-social img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
