/* FONT */
body {
  font-family: 'Righteous', sans-serif;
  background-color: #f8f8f8;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 90px;
  background: #39796e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  height: 60px;
}

nav {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: "Jockey One", sans-serif;
}

.navbar a:hover {
  opacity: 0.8;
}

/* HERO SECTION */
.hero-section {
  margin-top: 90px;
  padding: 80px 0;
  background: linear-gradient(#157865, #2aa67e);
  color: white;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.mini-gallery {
  display: flex;
  gap: 15px;
}

.mini-gallery img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 12px;
}

/* BUBBLE */
.product-bubble {
  width: 260px;
  height: 260px;
  background: #eef1ee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-text {
  color: #1c3c2f;
  text-align: center;
  font-weight: 800;
}

/* PRODUCT GRID */
.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.arrow-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  background: #d7f0e6;
  cursor: pointer;
}

.arrow-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

/* FOOTER */
.footer {
  background-color: #39796e;
  padding: 40px 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-logo {
  width: 180px;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 32px;
  font-weight: 800;
}

.footer-address {
  font-size: 16px;
  line-height: 1.6;
}

.footer-right {
  display: flex;
  align-items: center;
}

.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
